<script>

  $(document).ready(function() {

    $('#position_required_skill_list, #position_bonus_skill_list').tagit({
      allowSpaces: false,
      placeholderText: 'Skill name',
      autocomplete: ({
        source: function (request, response) {
          $.ajax({
            url: '<%= search_skills_admin_positions_path %>',
            type: 'get',
            dataType: 'json',
            data: { query: request.term },
            success: function(data) {
              response($.map(data.data, function (item) {
                return {
                  label: item.attributes.name,
                  value: item.attributes.name
                }
              }));
            },
            error: function(xhr, ajaxOptions, thrownError) {
              console.log('error: ', xhr);
            }
          })
        },
        delay: 0,
        minLength: 1
      })
    });
  });
</script>