<h2>You have received a job offer!<h2>

<h3>Position details:</h3>
<ul>
  <li><h4><%= @offer.position_title %></h4></li>
  <li><%= @offer.company_name %></li>
  <li>Salary: <%= @offer.salary_pay_rate %></li>
  <li>Start date: <%= @offer.start_date %></li>
</ul>
