<h2>Talent accepted offer!<h2>

<h4>Talent profile:</h4>
<ul>
  <li><%= @talent.name %>
  <li>Skills: <%= @talent.skill_list %></li>
</ul>

<h4>Position:</h4>
<ul>
  <li><%= @position.job_title %>
</ul>
